.container {
  & :global(.input) {
    padding: 1rem;
    font-size: 2rem;
    line-height: 1;
  }
  & :global(.button) {
    padding: 1rem 2rem;
    font-size: 2rem;
    display: flex;
    align-items: center;
    height: auto;
  }
  &-flex {
    position: relative;
  }
}

.search-suggestions {
  position: absolute;
  width: 30rem;
  height: auto;
  background-color: white;
  top: 5rem;
  border: 0.2rem solid rgba($color: #000000, $alpha: 0.2);
  border-radius: 1rem;
  &_card {
    padding: 1.2rem 2rem;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    cursor: pointer;
    border-bottom: 0.1rem solid rgba($color: #000000, $alpha: 0.1);
    &:last-child {
      border-bottom: none;
    }
    &:hover {
      background-color: rgba($color: #000000, $alpha: 0.1);
    }
    &-text {
      font-size: 2rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    & :global(.input) {
      padding: 2.5rem;
      font-size: 5rem;
      line-height: 1;
    }
    & :global(.button) {
      padding: 2.5rem 4rem;
      font-size: 5rem;
    }
  }
  .search-suggestions {
    width: 100%;
    top: 15rem;
  }
}

@media screen and (max-width: 550px) {
  .container {
    & :global(.input) {
      padding: 3.5rem;
      font-size: 6rem;
      line-height: 1;
    }
    & :global(.button) {
      padding: 3.5rem 6rem;
      font-size: 6rem;
    }
  }
  .search-suggestions {
    width: 100%;
    top: 18rem;
  }
}

@media screen and (max-width: 450px) {
  .container {
    & :global(.input) {
      padding: 4.5rem;
      font-size: 8rem;
      line-height: 1;
    }
    & :global(.button) {
      padding: 4.5rem 7.5rem;
      font-size: 8rem;
    }
  }
  .search-suggestions {
    width: 100%;
    top: 21rem;
  }
}
